<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<title><%= html_title %></title>
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<%= csrf_meta_tag %>
<%= favicon %>
<%= stylesheet_link_tag 'jquery/jquery-ui-1.11.0', 'application', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= javascript_heads %>
<%= heads_for_theme %>
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
</head>
<body class="<%= body_css_classes %>">
<div id="wrapper">
<div id="wrapper2">
<div id="wrapper3">
<div id="top-menu">
  <div id="header">
    <div id="logo"><%= link_to(h(Setting.app_title), home_path) %></div>
    <div id="top-menu-items">
    <% if User.current.logged? || !Setting.login_required? %>
    <div id="search">
      <%= render :partial => 'search/quick_search', :locals => {:search_term => @question} %>
    </div>
    <% end %>

    <ul id="account-nav">
      <% if User.current.logged? || !Setting.login_required? %>
      <% main_top_menu_items.each do |item| %>
          <%= render_menu_node(item) %>
      <% end %>
      <li class="drop-down">
        <%= link_to l(:label_project_plural), { :controller => 'projects', :action => 'index' }, :class => "projects" %>
        <ul style="display:none;">
          <li><%= link_to l(:label_project_all), { :controller => 'projects', :action => 'index' }, :class => "projects separator" %></li>
          <%
          project_content = ''
          project_tree(User.current.projects.all) do |project, level|
            name_prefix = (level > 0 ? ('&nbsp;' * 2 * level + '&#187; ') : '')
            project_content << content_tag(:li,
                                   link_to(name_prefix.html_safe + h(project), {:controller => 'projects', :action => 'show', :id => project, :jump => current_menu_item}))
          end
          %>
          <%= project_content.html_safe %>
        </ul>
      </li>
      <% if more_top_menu_items.present? || User.current.admin? %>
      <li class="drop-down" id="more-menu">
        <a class="more" href="#"><%= l(:label_more) %></a>
        <ul style="display:none;">
          <% more_top_menu_items.each do |item| %>
          <%= render_menu_node(item) %>
          <% end %>
          <%# TODO: Extract to helper %>
          <% if User.current.admin? %>
            <% menu_items_for(:admin_menu) do |item| -%>
              <li><%= link_to h(item.caption), item.url, item.html_options %></li>
            <% end -%>
          <% end %>
        </ul>
      </li>
      <% end %>
      <%= render_menu_node(help_menu_item) if help_menu_item %>
      <% end %>
        <% unless User.current.logged? %>
          <% if Setting.self_registration? %>
          <li>
            <%= link_to l(:label_register), { :controller => 'account', :action => 'register' } %>
          </li>
          <% end %>
          <li id="login-menu" class="drop-down last-child">
            <%= link_to l(:label_login), {:controller => 'account', :action => 'login'}, :class => 'login' %>
            <div id="nav-login" style="display:none;">
              <%= render :partial => 'account/login' %>
            </div>
          </li>
        <% else %>
          <li class="drop-down last-child">
          <%= link_to_user(User.current) %>
          <ul style="display:none;">
          <% menu_items_for(:account_menu) do |item| %>
            <%= render_menu_node(item) %>
          <% end %>
          </ul>
          </li>
        <% end %>
    </ul>
  </div>
  </div>
  <div id="breadcrumb">
    <%= page_header_title %>
  </div>
</div>

<!-- <div id="header">
    <% if User.current.logged? || !Setting.login_required? %>
    <div id="quick-search">
        <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
        <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
        <label for='q'>
          <%= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>:
        </label>
        <%= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
        <% end %>
        <%= render_project_jump_box %>
    </div>
    <% end %>

    <h1><%= page_header_title %></h1>

    <% if display_main_menu?(@project) %>
    <div id="main-menu">
        <%= render_main_menu(@project) %>
    </div>
    <% end %>
</div> -->

<% main_menu = render_main_menu(@project) %>
<div id="main" class="<%= sidebar_content? || !main_menu.blank? ? '' : 'nosidebar' %>">
    <% if sidebar_content? || !main_menu.blank? %>
    <div id="side-container">
      <div id="main-menu">
        <%= main_menu %>
        <%= yield :main_menu %>
      </div>

    <% if sidebar_content? || !main_menu.blank? %>
      <!-- Sidebar -->
      <div id="sidebar">
        <%= yield :sidebar %>
        <%= call_hook :view_layouts_base_sidebar %>
      </div>
    <% end %>
    </div>

    <%= expand_current_menu %>
    <% end %>
    <!-- <div id="sidebar">
        <%= yield :sidebar %>
        <%= view_layouts_base_sidebar_hook_response %>
    </div> -->

    <div class="<%= sidebar_content? || !main_menu.blank? ? '' : "nosidebar" %>" id="content">
        <%= render_flash_messages %>
        <%= yield %>
        <%= call_hook :view_layouts_base_content %>
        <div style="clear:both;"></div>
    </div>
</div>
</div>

<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
<div id="ajax-modal" style="display:none;"></div>

<div id="footer">
  <div class="bgl"><div class="bgr">
    Powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %> with <%= link_to "ChiliProject.eu", "http://www.chiliproject.eu" %> plugin
  </div></div>
</div>
</div>
</div>
<%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>
